APP_NAME=AGT_SSR

APP_ENV=development


SERVER_PORT=3000


APP_DOMAIN=http://localhost:${SERVER_PORT}

COOKIE_SECRET=cookie-secret-change-in-production-32chars
CSRF_SECRET=csrf-secret-change-in-production-32chars
PASSWORD_HASH_KEY=050b75s6-4b18-4780-a820-702eefc607cb


MICROSOFT_TENANT_ID=common
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_REDIRECT_URL=${APP_DOMAIN}/api/auth/microsoft/callback

# database ----------------------------
# CONTAINER_NAME=sv-go-pg-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=${APP_NAME}
POSTGRES_PORT=6000
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable




# dev ---------------------------------
# goose -------------------------------
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=${DATABASE_URL}
GOOSE_MIGRATION_DIR=db/schema


