---
import Button from "$lib/components/ui/button/button.svelte";
import Root from "../layouts/root.astro";
import "../styles/global.css";
import { ClientRouter, fade } from "astro:transitions";
---

<Root>
	<Button href="/about">About</Button>
</Root>
